<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${List1} and ${List1.size()}">List Empty :(</p>


<form method="post">

    <div th:each="cheese : ${List1}" class="checkbox">
        <input type="checkbox" name="Ids" th:value="${cheese.ids}" th:id="${cheese.ids}"/>
        <label th:for="${cheese.ids}" th:text="${cheese.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Cheese" />
</form>

</body>
</html>